
* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
}

.page_header {
    height: 120px;
    background-color: #10376E;
}
.container {
    margin: 0 180px;}

.menu {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 120px;
    grid-template-areas:
        "l h h h h v v . . a a a";
    align-items: center;
}
.logo_header {
    box-sizing: border-box;
    grid-area: l;
    width: 132px;
    height: 81px;
    background-color: #1389E6;
    color:white;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: 32px;
    padding-top: 23px;
}
.heading {
    grid-area: h;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}
.clock img{
    padding-top: 10px;
    height: 33px;
    width: 33px;
}
.clock {
    grid-area: v;
    color: white;
    font-size: 42px;
    font-weight: 700;
    padding-left: 40px;
}
.user {
    grid-area: a;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    align-self: center;
    color: white;
    width: 360px;
    height: 81px;
    background-color: #0B264D;
    display: flex;

}

.username_img img{
    width: 50px;
    height: 50px;
    margin: 15px 15px 15px 45px;
}
.username {
    margin: auto 0;

}
.menu a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-weight: 400;
}
.menu a:hover {
    font-weight: 700;
}

main {
    background-color: #E5E5E5;
    flex: 1;
}
.cards {
    display: flex;
    justify-content: center;
}

.html, .css {
    background-color: white;
    flex: 1;
    padding: 40px;
    margin: 50px 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border: 2px solid #CBD3DE;
}
h3  {
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
}
img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
}

.tags {
    border: 2px solid #CBD3DE;
    padding: 0 37px 48px 30px;
    background-color: #EAEEF4;
    margin-bottom: 31px;
}
.tags_heading {
    font-size: 36px;
    font-weight: 700;
    padding: 30px 0;
}
.tags_container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px;
    grid-template-areas:
        "vid vid vid au au au au tag tag tag tag tag"
        "cal cal cal for set set set tag tag tag tag tag                     ";
    align-items: center;
}

.video {
    grid-area: vid;
    color: #1E3351;
    font-size: 35px;
    text-underline-offset: 3px;
}
.calculator {
    grid-area: cal;
    color: #10376E;
    font-size: 40px;
    text-underline-offset: 7px;
}
.audio-player {
    grid-area: au;
    color: #325689;
    font-size: 44px;
    text-underline-offset: 7px;
}
.forum {
    grid-area: for;
    color: #1E3351;
    font-size: 42px;
    text-underline-offset: 6px;
    margin-right: 50px;
    margin-left: 50px;
}
.settings {
    grid-area: set;
    color: #3E6499;
    font-size: 37px;
    text-underline-offset: 6px;
}
.tags_table {
    grid-area: tag;
    color: #0B1F3A;
    font-size: 80px;
    text-underline-offset: 6px;
   display: flex;
   align-self: end;
    transform: translateX(-20px);
}

footer {
    background-color: #E1E8F1;
    height: 166px;
}

.page_footer {
   display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 30px;
}
.logo_footer {
    box-sizing: border-box;
    width: 112px;
    height: 81px;
    background-color: #1389E6;
    color: white;
    font-weight: 400;
    text-align: center;
    padding-top: 26px;
    margin-right: 15px;
    margin-bottom: 22px;
}
.footer_text_center {
    font-size: 18px;
    font-weight: 400;
}
.okay_button_footer {
    width: 246px;
    height: 60px;
    color: white;
    background-color: #10376E;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    margin-bottom: 40px;
}
.transparant, .copyright_footer, .license_footer a {
    color: #10376E;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.5;
}
